*{margin:0; padding:0; box-sizing:border-box;font-family: 'Poppins', sans-serif;}
.carousel-inner img {
    width: 100%;
    height: 90vh;}

.aboutimg{
    height:100% !important; 
    width:80%;
    padding-left:10%;

}
.cardimage{
    width:80%;
    height:100% !important;
}

    